:root {
  --ion-color-primary: #1a73e8;
  --ion-color-primary-rgb: 26, 115, 232;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1765cc;
  --ion-color-primary-tint: #3181ea;

  --ion-color-secondary: #34a853;
  --ion-color-secondary-rgb: 52, 168, 83;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #2e9449;
  --ion-color-secondary-tint: #48b164;

  --ion-background-color: transparent;
  --ion-toolbar-background: transparent;
  --ion-text-color: #1a1a2e;
}
